
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.banner {
  max-height: 225px;
}

.banner img {
  width: 100%;
  max-width: 100%;
}

.content {
}

.map {
  position: relative;
}

.map img {
  height: 450px;
  width: auto;
  position: absolute;
}

.main-left {
  width: 53%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  height: 500px;
}

.main-right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  height: 500px;
}

#stonehenge {top: 380px; left:255px;}
#lochness {top: 68px; left: 190px;}
#london {top: 358px; left: 305px;}
#blackpool {top: 253px; left: 222px;}
#hadrianswall {top: 170px; left: 240px;}
#liverpool {top: 265px; left: 224px;}
#stratford {top: 350px; left: 250px;}
#brighton {top: 397px; left: 315px;}
#llandudno {top: 270px; left: 200px;}
#bennevis {top: 95px; left: 170px;}
#hollingworthlake {top: 265px; left: 224px;}

a.marker {
  position: absolute;
  border: 1px solid #a60000;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  outline: none;
}

a.marker:hover {text-decoration:none;} 
a.marker span {
  z-index: 10;
  display: none;
  padding: 15px;
  line-height:16px;
  border-radius: 5px;
}
a.marker span p {padding: 0; margin: 0; }

a.marker:hover span{
    display: inline;
    position: absolute; 
    background-color: #a60000;
    opacity: 0.85;
    color: black;
}

ul.destinations li {
  margin: 5px 0;
}

ul.destinations a {
  text-decoration: none;
  color: black;
}

ul.destinations a:hover {
  color: #72ccfd;
}

.destination-info {
  padding: 30px 20px;
  border-top: 4px solid white;
}



.main {
  padding: 20px;
}

.nav {
  background-color: white;
  padding-top: 18px;
}

.nav ul {
  list-style-type: none;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  padding: 0;
}

.nav ul:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.nav ul li {
  display: inline-block;
  text-transform: uppercase;
}

.nav ul li a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.nav ul li a:hover {
  color: #72ccfd;
}


.footer {
  padding: 20px 0;
  border-top: 4px solid white;
}

.footer p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.about-left {
  width: 60%;
  display: inline-block;
  padding-right: 30px;
}

.about-left p {
  line-height: 1.8;
  margin-bottom: 24px;
  margin-top: 0;
}

.about-right {
  width: 39%;
  display: inline-block;
  vertical-align: top;
}

.about-right img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: 1px solid white;
}



form {
  margin-top: 20px;
  display: inline-block;
  width: 53%;
  vertical-align: top;
}

.contact-right {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin-top: 20px;
}

.contact-right i {
  padding-right: 8px;
}

form div {
  margin: 20px 0;
}


form label {
  width: 150px;
  display: inline-block;
  vertical-align: top;
}

form input, form textarea {
  width: 300px;
  outline: 0;
  border: 0;
  padding: 5px 0 5px 10px;
}

form input {
  height: 40px;
}

form textarea {
  height: 150px;
  resize: none;
}

form input:focus, form textarea:focus {
  background-color: #f8f8f8;
}

form .button {
  margin-left: 150px;
}

form button {
  margin-left: .5em;
  padding: 8px 10px;
  outline: 0;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #72ccfd;
  color: white;
}

.useful h2 {
  font-size: 17px;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  padding-bottom: 12px;
}

.useful ul {
  margin-bottom: 40px;
  line-height: 1.6;
}

.useful a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.useful a:hover {
  color: #72ccfd;
}





